<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="REGISTRO" value="890990"/>
		<add key="API_URL" value="https://cai-api.azurewebsites.net/api/v1/"/>
		<add key="COMISION" value="0.15"/>
	</appSettings>
</configuration>